# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pyenv
.python-version

# dotenv
.env
.env.*

# virtualenv
.venv
venv/
ENV/
env/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json
